@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.catalog {
  margin-top: calc(79px + 80px);
}

.catalog_title {
  @include textParameters($size: 42px, $lineHeight: 67.2px);
  margin-bottom: 100px;
  &::first-letter {
    text-transform: uppercase;
  }
}
