@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.product-page {
  padding-top: 82px;
  display: flex;
}
.aside-wrapper {
  position: relative;
  height: 416px;
}
.product-aside-images {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;
}
.aside-scroll-arrow {
  position: absolute;
  left: 50%;
  &.arrow-top {
    top: -43px;
    transform: translateX(-50%) scaleY(-1);
  }
  &.arrow-bottom {
    bottom: -43px;
    transform: translateX(-50%);
  }
}
.aside-image-wrapper {
  min-height: 80px;
  min-width: 79px;
  max-height: 80px;
  max-width: 79px;
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 32px;
  }
}
.product-aside-image {
  border: 1px solid transparent;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.active-image {
  border: 1px solid $base-color;
}
.main-image-wrapper {
  width: 610px;
  height: 511px;
  margin-left: 40px;
  margin-right: 100px;
}
.product-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 60%;
}
.product-info-wrapper {
  max-width: 293px;
}
.product-title {
  @include textParameters($size: 30px, $lineHeight: 27px, $weight: 600);
  margin-bottom: 16px;
}
.product-name {
  @include textParameters($size: 30px, $lineHeight: 27px);
  margin-bottom: 43px;
}
.product-price-title {
  @include textParameters(
    $size: 18px,
    $lineHeight: 18px,
    $weight: 700,
    $fontFamily: "Roboto Condensed"
  );
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 20px;
}
.product-price {
  display: block;
  @include textParameters($size: 24px, $weight: 700, $lineHeight: 18px);
}
.product-cart-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  @include textParameters(
    $lineHeight: 19.2px,
    $weight: 600,
    $color: $white-color
  );
  text-transform: uppercase;
  background-color: $base-color;
  padding: 16px 93.5px;
  margin-top: 39px;
  margin-bottom: 56px;
}
.product-description {
  @include textParameters($lineHeight: 25.59px, $fontFamily: "Roboto");
  max-height: 200px;
  padding-right: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
}
