@import "../../sassStyles/variables";

.product-page {
  padding-top: 82px;
  display: flex;
}
.aside-wrapper {
  position: relative;
}
.product-aside-images {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  z-index: 1;
  height: 416px;
}
.aside-scroll-arrow {
  position: absolute;
  left: 50%;
}
.arrow-top {
  top: -43px;
  transform: translateX(-50%) scaleY(-1);
}
.arrow-bottom {
  bottom: 53px;
  transform: translateX(-50%);
}
.aside-image-wrapper {
  min-height: 80px;
  min-width: 79px;
  max-height: 80px;
  max-width: 79px;
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 32px;
  }
}
.product-aside-image {
  border: 1px solid transparent;
  user-select: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.active-image {
  border: 1px solid $base-color;
}
.main-image-wrapper {
  width: 610px;
  height: 511px;
  margin-left: 40px;
  margin-right: 100px;
}
.product-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 60%;
}
