@import "../../sassStyles/variables";

.product-page {
  padding-top: 82px;
  display: flex;
}
.product-aside-images {
  display: inline-flex;
  flex-direction: column;
}
.aside-image-wrapper {
  width: 79px;
  height: 80px;
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 32px;
  }
}
.product-aside-image {
  border: 1px solid transparent;

  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.active-image {
  border: 1px solid $base-color;
}
.main-image-wrapper {
  width: 610px;
  height: 511px;
  margin-left: 40px;
  margin-right: 100px;
}
.product-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 60%;
}
