@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white-color;
  width: 100%;
  z-index: 1000;
}
.header-content {
  width: $container-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-name-link {
  @include textParameters($lineHeight: 19.2px);
  text-transform: uppercase;
  &:not(:last-of-type) {
    margin-right: 32px;
  }
}
.category-active-link {
  position: relative;
  @include textParameters(
    $weight: 600,
    $lineHeight: 19.2px,
    $color: $base-color
  );
  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 32px);
    background-color: $base-color;
    top: 45px;
    left: -16px;
    right: 0;
    margin: auto;
  }
}
.categories-wrapper {
  margin: 32px 0px 28px 0px;
}
.main-logo-wrapper {
  margin-top: 7px;
}
.main-logo {
  width: 31px;
  height: 28px;
  display: block;
}
.purchasing-wrapper {
  display: flex;
  align-items: center;
}
.header-cart-icon {
  position: relative;
  margin-left: 22px;
}
