@import "./variables";

@mixin textParameters(
  $size: 16px,
  $weight: 400,
  $lineHeight: 16px,
  $color: $dark-color,
  $fontFamily: "Raleway"
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
  font-family: $fontFamily;
}

@mixin minMaxWidthHeight($maxWidth, $maxHeight) {
  min-width: $maxWidth;
  max-width: $maxWidth;
  min-height: $maxHeight;
  max-height: $maxHeight;
} ;
