$base-color: #5ece7b;
$dark-color: #1d1f22;
$white-color: #ffffff;
$grey-color: #eeeeee;
$grey-cart-border-color: #e5e5e5;
$card-shadow-color: rgba(168, 172, 176, 0.4);
$select-shadow-color: rgba(168, 172, 176, 0.19);
$minicart-shadow-background: rgba(57, 55, 72, 0.22);
$cart-button-background: rgba(0, 0, 0, 0.73);
$out-of-stock-color: #8d8f9a;
$text-attribute-color: #292929;
$empty-cart-text-color: #797878;

$container-width: 1240px;
$cart-additional-wrapper-height: 350px;
$cart-image-switcher-button-size: 24px;
$quantity-button-size-small: 24px;
$quantity-button-size-big: 45px;
