@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";

.attribute_wrapper {
  &:not(:nth-last-of-type(1)) {
    margin-bottom: 24px;
  }
}
.attribute {
  cursor: pointer;
}
.text_attribute {
  @include textParameters(
    $lineHeight: 18px,
    $fontFamily: "Source Sans Pro",
    $color: $text-attribute-color
  );
  border: 1px solid $dark-color;
  padding: 13px 22px 14px 23px;
  background-color: $white-color;
  &:not(:nth-last-of-type(1)) {
    margin-right: 12px;
  }
  &.attribute_active {
    background-color: $dark-color;
    color: $white-color;
  }
}
.swatch_attribute {
  width: 36px;
  height: 36px;
  outline-offset: 1px;
  &:not(:nth-last-of-type(1)) {
    margin-right: 8px;
  }
  &.attribute_active {
    outline: 1px solid $base-color;
  }
}
.attribute_content {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.attribute_title {
  @include textParameters(
    $size: 18px,
    $lineHeight: 18px,
    $fontFamily: "Roboto Condensed"
  );
  text-transform: uppercase;
  margin-bottom: 8px;
}
